$mainFontSize: 16px;
$generalFontSize_number: 16;

%font__12-600-grey {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: rem(16);
  line-height: 112.69%;
  color: $greyDark;
}


a {
  color: $greyDark;
  font-weight: bold;

  &.router-link-exact-active {
    color: $green;
  }
}
