$mainFontSize: 16px;
$generalFontSize_number: 16;

%font__12-600-grey {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 112.69%;
  color: $greyMiddle;
}
