@import 'constants';
@import "dounCSS";
@import "utils";
@import "fonts";

body {
  @extend %font__12-600-grey;
}

button {
  display: block;
  width: 100%;
  max-width: rem(300);
  padding: rem(10) rem(20);
  cursor: pointer;
}


%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
