@import 'constants';
@import "dounCSS";
@import "utils";
@import "fonts";

body {
  @extend %font__12-600-grey;
}


%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
